body {
  font-family: "Roboto Slab", serif;
  background: #e3f6f5;
}

h2 {
  color: #878787;
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

.h3 {
  font-size: 20px;
}

.city {
  font-size: 100px;
}

.container {
  width: 800px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0px 8px 8px 16px #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.overview {
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 2px;
}

.background {
  padding: 30px 30px 30px 30px;
}

.currentTemperature {
  position: relative;
  padding: 10px 100px 30px 30px;
  font-size: 30px;
  top: 5px;
  bottom: 70px;
  left: 20px;
}

.row {
  bottom: 20px;
}

ul {
  margin: 0;
  padding: 0px 10px;
}

.currentEmoji {
  margin-bottom: 2px;
  font-size: 30px;
  color: #fff36c;
}

li {
  list-style: none;
  position: relative;
  color: rgb(101, 172, 115);
  font-size: 16px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app {
  padding: 50px;
  border: 50px solid #dadde1;
  border-radius: 50px;
}

.city-input.form-control {
  margin: 0px 200px;
  line-height: 50px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 100;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.footer {
  text-align: center;
  padding: 0 auto 24px;
}
