body {
  font-family: "Roboto Slab", serif;
  background: radial-gradient(
    590px at 8.2% 13.8%,
    rgb(18, 35, 60) 0%,
    rgb(187, 187, 187) 90%
  );
}

h2 {
  color: #fdfdfd;
  font-size: 47px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0;
}

.city {
  font-size: 100px;
}

.weather-app-wrapper {
  width: 580px;
  height: 480px;
  color: #ff6984;
}

.container {
  width: 620px;
  height: 600px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
  background: black;
}

.background {
  width: 800px;
  padding: 30px 30px 30px 30px;
}

.overview {
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 2px;
}

.currentTemperature {
  position: relative;
  padding: 10px 100px 30px 30px;
  font-size: 30px;
  top: 5px;
  bottom: 70px;
  left: -30px;
  color: #fdfdfd;
}

.row {
  bottom: 20px;
}

ul {
  margin: 0;
  padding: 0px 10px;
}

.currentEmoji {
  margin-bottom: -2px;
  font-size: 30px;
  color: #ff6984;
}

li {
  list-style: none;
  position: relative;
  color: #6b63ff;
  font-size: 16px;
}

li:first-letter {
  text-transform: capitalize;
}

.todaysDate {
  margin: 10px;
  color: #ff6984;
  font-size: 20px;
}

.weather-illustration {
  text-align: right;
  margin: -80px 0px 80px 3px;
}

.weather-app {
  padding: 50px;
  border: 50px solid #dadde1;
  border-radius: 50px;
}

.weather-forecast {
  margin-top: -80px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  font-weight: bold;
  color: #ff6984;
}

.weather-forecast-temperatures {
  font-size: 13px;
  color: #fdfdfd;
}

.city-input.form-control {
  margin: 0px 200px;
  line-height: 50px;
}

.overview {
  margin-bottom: 20px;
}

.col {
  margin: 0px 10px 0px 0px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-forecast {
  margin-top: -30px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 100;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  color: #6b63ff;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  color: #6b63ff;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.footer {
  text-align: center;
  padding: 0 auto 24px;
  color: #fdfdfd;
}
